<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title><?php echo APP_TITLE; ?></title>
    <link href="/i/install/css/install.css" rel="stylesheet" type="text/css">
    <script src="/i/install/js/jquery.js"></script>
    <script src="/i/install/js/jquery.icheck.min.js"></script>
    <script>
        $(document).ready(function () {
            $('input[type="radio"]').on('ifChecked', function (event) {
                if (this.id == 'radio-0') {
                    $('.select-module').show();
                } else {
                    $('.select-module').hide();
                }
            }).iCheck({
                checkboxClass: 'icheckbox_flat-green',
                radioClass: 'iradio_flat-green'
            });
            $('input[type="checkbox"]').iCheck({
                checkboxClass: 'icheckbox_flat-green',
                radioClass: 'iradio_flat-green'
            });
            $('#next').click(function () {
                $('#install_form').submit();
            });
        });
    </script>
</head>

<body>
<?php include(ROOT_PATH."/views/header.html"); ?>
<div class="main">
    <div class="step-box" id="step2">
        <div class="text-nav">
            <h1>Step.2</h1>
            <h2>选择安装方式</h2>
            <h5>根据需要选择系统模块完全或手动安装</h5>
        </div>
        <div class="procedure-nav">
            <div class="schedule-ico"><span class="a"></span><span class="b"></span><span class="c"></span><span
                    class="d"></span></div>
            <div class="schedule-point-now"><span class="a"></span><span class="b"></span><span class="c"></span><span
                    class="d"></span></div>
            <div class="schedule-point-bg"><span class="a"></span><span class="b"></span><span class="c"></span><span
                    class="d"></span></div>
            <div class="schedule-line-now"><em></em></div>
            <div class="schedule-line-bg"></div>
            <div class="schedule-text"><span class="a">检查安装环境</span><span class="b">选择安装方式</span><span
                    class="c">创建数据库</span><span class="d">安装</span></div>
        </div>
    </div>
    <form method="get" id="install_form" action="/">
        <input type="hidden" value="3" name="step">
        <div class="select-install">
            <?php

                for($i=0;$i<sizeof($GLOBALS['install']);$i++){
                    $val=$GLOBALS['install'][$i];

             ?>
            <label>
                <input type="radio" name="iCheck" value="<?php echo $val['func'];?>" <?php if($i==0)echo 'checked'; ?> class="green-radio">
                <h3><?php echo $val['name'];?></h3>

            </label>
            <?php
                }

            ?>


        </div>

        <div class="btn-box"><a href="?step=1" class="btn btn-primary">上一步</a><a id="next"
                                                                                          href="javascript:void(0);"
                                                                                          class="btn btn-primary">下一步</a>
        </div>
    </form>
</div>
<?php include(ROOT_PATH."/views/footer.html"); ?>
</body>
</html>
