<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title><?php echo APP_TITLE; ?></title>
    <link href="/i/install/css/install.css" rel="stylesheet" type="text/css">
    <link href="/i/install/css/perfect-scrollbar.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/i/install/js/jquery.js"></script>
    <script type="text/javascript" src="/i/install/js/perfect-scrollbar.min.js"></script>
    <script type="text/javascript" src="/i/install/js/jquery.mousewheel.js"></script>
</head>
<body>
<?php include(ROOT_PATH."/views/header.html"); ?>
<div class="main">
    <div class="text-box" id="text-box">
        <div class="license">
            <?php echo LICENESE;?>
        </div>
    </div>
    <div class="btn-box"><a href="?step=1" class="btn btn-primary">同意协议进入安装</a><a
            href="" class="btn" onclick="closeWindow()">不同意</a></div>
</div>
<?php include(ROOT_PATH."/views/footer.html"); ?>
<script type="text/javascript">
    $(document).ready(function () {
        //自定义滚定条
        $('#text-box').perfectScrollbar();
    });
    function closeWindow(){
        var userAgent = navigator.userAgent;
        if (userAgent.indexOf("Firefox") != -1 || userAgent.indexOf("Chrome") !=-1) {
            window.location.href="about:blank";
            window.close();
        } else {
            window.opener = null;
            window.open("", "_self");
            window.close();
        }
    }
</script>
</body>
</html>
