<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title><?php echo APP_TITLE; ?></title>
    <link href="/i/install/css/install.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/i/install/js/jquery.js"></script>
    <link href="/i/install/css/perfect-scrollbar.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/i/install/js/perfect-scrollbar.min.js"></script>
    <script type="text/javascript" src="/i/install/js/jquery.mousewheel.js"></script>
</head>
<body>
<?php include(ROOT_PATH."/views/header.html"); ?>
<div class="main">
    <div class="final-succeed"><span class="ico"></span>
        <h2>程序已成功安装</h2>
        <h5>选择您要进入的页面</h5>
    </div>
    <div class="final-site-nav">
        <div class="arrow"></div>
        <ul>
            <li class="shop">
                <div class="ico"></div>
                <h5><a href="<?php echo $auto_site_url; ?>" target="_blank">首页</a></h5>
                <h6>系统首页</h6>
            </li>

            <li class="admin">
                <div class="ico"></div>
                <h5><a href="<?php echo $auto_site_url; ?>/admin" target="_blank">系统管理</a></h5>
                <h6>系统后台</h6>
            </li>
        </ul>
    </div>
    <div class="final-intro">
        <p><strong>管理员账号:&nbsp;</strong><?php echo $_GET['username']; ?></p>
        <p><strong>管理员密码:&nbsp;</strong><?php  echo $_GET['password']; ?></p>
    </div>
</div>
<?php include(ROOT_PATH."/views/footer.html"); ?>
<script type="text/javascript">
    $(document).ready(function () {
        //自定义滚定条
        $('#text-box').perfectScrollbar();
    });
</script>
</body>
</html>
