# This group is read both both by the client and the server
# use it for options that affect everything
[client-server]
port   = 3306
socket = /run/mysqld/mysqld.sock

# This group is read by the server
[mysqld]
user                    = nobody
datadir                 = /var/lib/mysql
log_error = /var/log/mysql/error.log
log-bin                 = /var/lib/mysql/mysql-bin
bind-address            = 0.0.0.0
port                    = 3306
socket                  = /run/mysqld/mysqld.sock
key_buffer_size         = 8M
max_allowed_packet      = 1M
table_open_cache        = 64
sort_buffer_size        = 512K
net_buffer_length       = 8K
read_buffer_size        = 256K
read_rnd_buffer_size    = 512K
myisam_sort_buffer_size = 2M
binlog_format           = mixed
server-id               = 1
skip-external-locking


# Uncomment the following if you are using InnoDB tables
innodb_data_home_dir      = /var/lib/mysql
innodb_data_file_path     = ibdata1:10M:autoextend
innodb_log_group_home_dir = /var/lib/mysql

# You can set .._buffer_pool_size up to 50 - 80 %
# of RAM but beware of setting memory usage too high
innodb_buffer_pool_size         = 32M

# Set .._log_file_size to 25 % of buffer pool size
innodb_log_file_size           = 8M
innodb_log_buffer_size         = 8M
innodb_flush_log_at_trx_commit = 2
innodb_lock_wait_timeout       = 50

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# include all files from the config directory
!includedir /etc/my.cnf.d

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash
safe_updates
show_warnings
pager = 'less -R'

[myisamchk]
key_buffer_size  = 20M
sort_buffer_size = 20M
read_buffer      = 2M
write_buffer     = 2M

[mysqlhotcopy]
interactive-timeout