<div id="contentDiv0" style="background:#fff;padding-bottom:20px;zoom:1;position:relative;z-index:1;"
     class="qm_bigsize qm_converstaion_body body qmbox qqmail_webmail_only">
    <style nonce="+YnPOKso+rEzY3jxrVFECw">.qmbox .awl a {
        color: #FFFFFF;
        text-decoration: none;
    }

    .qmbox .abml a {
        color: #000000;
        font-family: Roboto-Medium, Helvetica, Arial, sans-serif;
        font-weight: bold;
        text-decoration: none;
    }

    .qmbox .adgl a {
        color: rgba(0, 0, 0, 0.87);
        text-decoration: none;
    }

    .qmbox .afal a {
        color: #b0b0b0;
        text-decoration: none;
    }

    @media screen and (min-width: 600px) {
        .qmbox .v2sp {
            padding: 6px 30px 0px;
        }

        .qmbox .v2rsp {
            padding: 0px 10px;
        }
    }

    @media screen and (min-width: 600px) {
        .qmbox .mdv2rw {
            padding: 40px 40px;
        }
    } </style>
    <img src="https://notifications.googleapis.com/email/t/AFG8qyV_0maNLRg35GoPIhH9lM1AqWyZXDWIs4sM-i35Zdqa8BcCBiWL8wws3yu5JDx5l8Z2i2yWMhdMMyvxkEE6i2yZjpm-gksFvu_7Y5UhcKYkEujTazcpyXmUHTJsFPuGCZHkljWXSlJ7coPVLYbgg5KPTh6ouaTqfaOfW_Ue_TXou_QtROW4o4yIwvBDN2NkRSH3H5Y-ALjfxhxpL_Cqj8ZpXEOTtXo8hjar4-9a7eQM9bX_PS4/a.gif"
         width="1" height="1">
    <table style="min-width: 348px;" width="100%" lang="en" height="100%" cellspacing="0" cellpadding="0"
           border="0">
        <tbody>
        <tr style="height: 32px;" height="32">
            <td></td>
        </tr>
        <tr align="center">
            <td>
                <div itemscope="itemscope" itemtype="//schema.org/EmailMessage">
                    <div itemprop="action" itemscope="itemscope" itemtype="//schema.org/ViewAction"></div>
                </div>
                <table style="padding-bottom: 20px; max-width: 516px; min-width: 220px;" cellspacing="0"
                       cellpadding="0" border="0">
                    <tbody>
                    <tr>
                        <td style="width: 8px;" width="8"></td>
                        <td>
                            <div style="background-color: #F5F5F5; direction: ltr; padding: 16px;margin-bottom: 6px;">
                                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                    <tr>
                                        <td style="vertical-align: top;"></td>
                                        <td style="width: 13px;" width="13"></td>
                                        <td style="direction: ltr;"><span
                                                style="font-family: Roboto-Regular,Helvetica,Arial,sans-serif; font-size: 13px; color: rgba(0,0,0,0.87); line-height: 1.6; color: rgba(0,0,0,0.54);">这封邮件发自《Vpay官方网站》,由系统自动发送，请勿回复</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div style="border-style: solid; border-width: thin; border-color:#dadce0; border-radius: 8px; padding: 40px 20px;"  class="mdv2rw" align="center"><div></div>
                                <div style="">
                                    <div style="font-size: 24px;"><{$notice1}></div>
                                    <table style="margin-top:8px;" align="center">
                                        <tbody>
                                        <tr style="line-height: normal;font-size: 24px; ">
                                            <td style="padding-right:8px;" align="right"></td>
                                            <td><{$notice2 nofilter}></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div style="font-family: Roboto-Regular,Helvetica,Arial,sans-serif; font-size: 14px; color: rgba(0,0,0,0.87); line-height: 20px;padding-top: 20px; text-align: center;">
                                    <{$notice3}>
                                    <div style="padding-top: 32px; text-align: center;"></div>
                                </div>
                            </div>

                        </td>
                        <td style="width: 8px;" width="8"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr style="height: 32px;" height="32">
            <td></td>
        </tr>
        </tbody>
    </table>
    <style type="text/css">.qmbox style, .qmbox script, .qmbox head, .qmbox link, .qmbox meta {
        display: none !important;
    }</style>
    <!-- -->
</div>