<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>500-对不起！服务器错误！</title>

    <style type="text/css">
        .txtbox{
            text-align: center;
            color: white;
            padding-top: 180px;
            font-size: 26px;
        }
        .tx{
            font-size: 36px;
        }
    </style>

</head>



<body bgcolor="#494949">


<div class="txtbox">

    <p class="tx">500 错误</p>

    <p>对不起，您请求的页面暂时不可用</p>

    <p class="paddingbox">请点击以下链接继续浏览网页</p>

    <p><a style="cursor:pointer" onclick="history.back()">返回上一页面</a></p>


</div>

</body>

</html>