<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="UTF-8" content="text/html; charset=utf-8" http-equiv="Content-Type"/>

    <title>404 - 对不起！页面找不到了！</title>

    <style type="text/css">
        .txtbox {
            text-align: center;
            color: white;
            padding-top: 180px;
            font-size: 26px;
        }

        .tx {
            font-size: 36px;
        }
    </style>

</head>


<body bgcolor="#494949">


<div class="txtbox">

    <p class="tx">404 错误</p>

    <p>对不起，您请求的页面暂时不可用</p>

    <p class="paddingbox">请点击以下链接继续浏览网页</p>

    <p><a onclick="history.back()" style="cursor:pointer">返回上一页面</a></p>


</div>

</body>

</html>