<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0">
    <title><{$title}></title>
    <link href="/i/css/body.css" rel="stylesheet">
    <link rel="shortcut icon" href="/i/img/favicon.ico" />
    <script src="/i/js/myJQuery.js"></script>

</head>
<body>
    <div class="container">
        <{include file=$__template_file}>
    </div>
    <{$year = date("Y")}>
    <footer>
        Copyright © 2015-<{$year}>
        Dreamn. All Rights Reserved.<br>
        <a href='http://www.miibeian.gov.cn' target='_blank' style="color: #fff;">苏ICP备18015450号</a>
    </footer>
    <script>
        function Toast(msg,duration){ duration=isNaN(duration)?3000:duration; var m = document.createElement('div'); m.innerHTML = msg; m.style.cssText="width: 60%;min-width: 150px;opacity: 0.7;height: 30px;color: rgb(255, 255, 255);line-height: 30px;text-align: center;border-radius: 5px;position: fixed;top: 40%;left: 20%;z-index: 999999;background: rgb(0, 0, 0);font-size: 12px;"; document.body.appendChild(m); setTimeout(function() { var d = 0.5; m.style.webkitTransition = '-webkit-transform ' + d + 's ease-in, opacity ' + d + 's ease-in'; m.style.opacity = '0'; setTimeout(function() { document.body.removeChild(m) }, d * 1000); }, duration); }
    </script>
</body>
</html>