<blockquote class="layui-elem-quote news_search">
    <div class="layui-inline">
        <p>测试支付页面：<a href="<{$host}>/demo/" target="_blank"><{$host}>/demo/</a></p>
        <p>如果需要使用测试代码，请添加一个应用</p>
        <p>修改/demo/core/config.php中的key（该应用的）和appid</p>
        <p>设置后台的同步回调地址为：<{$host}>/demo/return.php</p>
        <p>设置后台的异步回调地址为：<{$host}>/demo/notify.php</p>
        <p>使用时直接将demo文件夹下的core文件夹作为核心组件即可，使用Vpay类来创建更简洁的支付方式，具体操作请看demo，里面有详细的注释</p>
    </div>
</blockquote>


<script>
    layui.use(['element', 'code'], function () {
        var element = layui.element;
        layui.element.render();
        layui.code({
            title: 'PHP回调示例代码'
        });

    });
</script>
