<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>发生错误！</title>
    <meta content="" name="keywords"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <meta content="" name="copyright"/>
    <link href="https://www.jsdaima.com/Uploads/webpage/201806/1527813287/css/jsdaima.com.css" rel="stylesheet"
          type="text/css">

</head>
<body>

<div class="notfoud-container">
    <div class="img-404">
    </div>
    <p class="notfound-p">哎呀迷路了...</p>
    <div class="notfound-reason">
        <p>可能的原因：</p>
        <ul>
            <li>原来的页面不存在了</li>
            <li>我们的服务器被外星人劫持了</li>
        </ul>
    </div>
    <div class="notfound-btn-container">
        <a class="notfound-btn" href="../index">返回首页</a>
    </div>
</div>

</body>
</html>