
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="开源个人收款解决方案，支持任意金额">
    <meta name="keywords" content="Vpay,开源个人收款解决方案,个人支付接口,个人收款,个人收款接口,个人收款接口服务,个人收款回调,个人即时到账">
    <title>Vpay - 开源个人收款系统</title>
    <link href="/i/css/bootstrap.min.css" rel="stylesheet">
    <link href="/i/css/creative.css" rel="stylesheet">
    <link href="/i/img/favicon.ico" rel="shortcut icon"/>
</head>

<body id="page-top">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="<{url c='main' a='index'}>#page-top">Vpay</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" target="_blank" href="<{url m='demo' c='main' a='index'}>">体验</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="<{url c='main' a='index'}>#multi">介绍</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="<{url c='main' a='index'}>#contact">联系</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://github.com/dreamncn/VPay">源码下载</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="<{url c='main' a='index'}>#install">收费安装</a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://pay.dreamn.cn/doc/main/index">开发文档</a>
                </li>-->
            </ul>
        </div>
    </div>
</nav>

<{include file=$__template_file}>


<footer>
    <p style="line-height: 50px;color:gray;text-align:center;font-size:14px;">Copyright © 2015-<{date('Y')}></p>
</footer>

<!-- Bootstrap core JavaScript -->

<script src="/i/js/bootstrap.min.js"></script>

</body>
</html>