
<style type="text/css">
    .margin-top{ margin-top:1em}
    .myContent{width: 90%;margin-left: 5%;}
    .modal-dialog{margin: auto;}
    .mylable{min-width: 118px;}
    .input-group-text{border-top-right-radius: 0;border-bottom-right-radius: 0;border-right: 0}
    .form-control{border-top-right-radius: .25rem;border-bottom-right-radius: .25rem}
    .myInput{vertical-align: middle;}
    #qr img{max-width: 100%;display: inline-block!important;}
    @media screen and (min-width:560px){
        /* .mylable {
          margin-left: -24px;
         } */
        .pcInput{
            min-width: 200px;;
        }
    }
    .btn {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

</style>

<div class="form text-center myContent">
    <br><br><br>
    <span class="label label-default">
			<h2 style="color: grey">支付测试<br/></h2>
			<span style="color: red">默认为扫码转账，请使用支付宝app扫描二维码测试<br/></span>
			<span style="color: red">如需体验H5唤醒支付，请复制本页面地址，使用手机浏览器打开<br/></span>
		</span>
    <br />
    <div align="center" id="qr" class="margin-top" style="display:none;text-align: center">
    </div>
    <div class="input-group justify-content-md-center margin-top">
        <div class="col-md-1 " style="min-height: 3px">
        </div>
    </div>
    <form action="<{url m='demo' c='buy' a='create'}>">
    <div class="form row" style="margin-top:10px;text-align: center" >
        <div class="input-group mb-3 col-md-6">
            <div class="input-group-prepend">
                <span class="input-group-text">支付商品</span>
            </div>
            <select id="payGood" name="payGood" class="form-control">
                <option value="1">支付0.1进行测试</option>
                 <option value="2">远程搭建服务(￥60)</option>
                <option value="3">付费咨询(￥10)</option>
            </select>
        </div>

        <div class="input-group mb-3 col-md-6">
            <div class="input-group-prepend">
                <span class="input-group-text">支付方式</span>
            </div>
            <select id="payType" name="payType" class="form-control">
                <option value="1">微信</option>
                <option value="2">支付宝</option>
            </select>
        </div>
        <div class="input-group mb-3 col-md-6">
            <div class="input-group-prepend">
                <span class="input-group-text">邮箱</span>
            </div>
            <input type="email" name="email" class="form-control" id="email" placeholder="请输入邮箱">
        </div>
        <div class="input-group mb-3 col-md-6">
            <div class="input-group-prepend">
                <span class="input-group-text">留言</span>
            </div>
            <input type="text" name="remark" class="form-control" maxlength="200" id="remark" placeholder="请输入留言">
        </div>

    </div>


    <div class="form-group margin-top">
        <div  class="form-group margin-top ">
            <input type="submit" class="btn btn-primary" value="确认支付">
        </div>
        <div id="app_pay" class="form-group margin-top " style="display: none">
            <a href="" id="aliurl" target="_blank" class="btn btn-primary">打开支付宝支付（请使用手机浏览器）</a>
        </div>

    </div>

    <span style="color:#F30;font-weight:bold;display:none" id="pay_status"></span>

</div>

