.header{height: 59px; border-bottom: 1px solid #404553;  background-color: rgba(62, 62, 62, 0.4);}
body{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/bg.png);
    background-size:100%;
}
.logo{position: absolute; left: 0; top: 16px;}
.logo img{width: 82px; height: 31px;}

.header .layui-nav{position: absolute; right: 0; top: 0; padding: 0; background: none;}

.header .layui-nav .layui-nav-item[mobile]{display: none;}

.header .layui-container .logo{left: 15px;}
.header .layui-container .layui-nav{right: 15px;}
.header .layui-nav .layui-badge,
.header .layui-nav .layui-badge-dot{right: 0;}

.site-banner-main{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.site-zfj i {
    top: 10px;
    width: 100px;
    height: 100px;
    font-size: 100px;
     color: rgba(255,255,255,.6);
}
.site-desc{
    color: rgba(255,255,255,.8);
}
.site-desc p{
    padding:15px;
    font-size: 35px;
}

.site-desc cite{

    font-size: 25px;
    left: 0;
    width: 100%;
    color: rgba(255,255,255,.66);
    font-style: normal;
}

.site-download a {
    margin-top: 15px;
    position: relative;
    padding: 0 30px 0 70px;
    height: 45px;
    line-height: 45px;
    border: 1px solid rgba(255, 255, 255, .2);
    font-size: 18px;
    color: #ccc;
    transition: all .5s;
    -webkit-transition: all .5s;
    border-radius: 30px;
}
.site-download a cite {
    left: 20px;
}
.site-download a cite {
    position: absolute;
    left: 30px;
    top: 1px;
    font-size: 30px;
}
.site-version {
    margin-top: 10px;
}
.site-version {
    position: relative;
    margin-top: 20px;
    color: #ccc;
    font-size: 16px;
}
.site-version a {
    color: #e2e2e2;
    text-decoration: underline;
}
.site-banner-other{
    margin-top: 20px;
}
.site-banner-other a {
    display: inline-block;
    vertical-align: middle;
    height: 28px;
    line-height: 28px;
    margin: 0 6px;
    padding: 0 8px;
    border-radius: 2px;
    color: rgba(255,255,255,.8);
    border: 1px solid rgba(255, 255, 255, .2);
    font-size: 14px;
    transition: all .5s;
    -webkit-transition: all .5s;
}
.site-banner-copyright{
    color: rgba(255,255,255,.8);
    margin-top: 20px;
}
.site-banner-copyright a{
    color: rgba(255,255,255,.8);

}
@media screen and (max-width: 1000px) {
    body{
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/bg_min.png);
        background-size:100%;
    }
}